.App {
  text-align: center;
  min-height: 100vh;

  color: white;
  background-color: #282c34;
}

.select__multi-value__label{
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rune-header{
  width: 330px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.rune-img-main{
  display: flex;
}

.rune-main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.rune-slot1 {
  position: absolute;
  z-index: 2;
  padding-left: 17px;
  padding-top: 13px;
}

.rune-slot2 {
  position: absolute;
  z-index: 2;
  padding-left: 15px;
  padding-top: 23px;
}

.rune-slot3 {
  position: absolute;
  z-index: 2;
  padding-left: 14px;
  padding-top: 21px;
}

.rune-slot4 {
  position: absolute;
  z-index: 2;
  padding-left: 17px;
  padding-top: 21px;
}

.rune-slot5 {
  position: absolute;
  z-index: 2;
  padding-left: 11px;
  padding-top: 23px;
}

.rune-slot6 {
  position: absolute;
  z-index: 2;
  padding-left: 12px;
  padding-top: 23px;
}

.rune-set {
  position: absolute;
  z-index: 3;
  padding-left: 8px;
  scale: 0.5;
  padding-top: 12px;
}

.rune-class {
  position: absolute;
}

.div-rune-img {
  display: flex;
  flex-direction: row;
  scale: 0.7;
  width: 80px;
  height: 80px;
}

.star{
  position: relative;
}

.stars {
  display: flex;
  position: absolute;
  z-index: 4;
  scale: 0.5;
  left: -55px;
  top: -5px;
  width: 232px;
  justify-content: flex-start;
}

.monster{
  width: 54px;
}

/* Position each image with increasing left offset */
.stars img:nth-child(2) {
  left: -10px;
}

.stars img:nth-child(3) {
  left: -20px;
}

.stars img:nth-child(4) {
  left: -30px;
}

.stars img:nth-child(5) {
  left: -40px;
}

.stars img:nth-child(6) {
  left: -50px;
}

span, div{
  font-size: calc(10px + 1vmin);
}

p{
  margin: 5px;
}

.horizontal-slider {
  width: 300px;
  height: 25px;
  margin-bottom: 20px;
}

.thumb {
  height: 25px;
  width: 25px;
  background-color: #61dafb;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #61dafb;
}

.track {
  top: 50%;
  height: 8px;
  background: #61dafb;
  border-radius: 4px;
}

.border_rune{
  border:2px solid;
  border-radius: 8px;
}

.border_rune1, .border_rune11{
  border-color: #555;
}

.border_rune2, .border_rune12{
  border-color: rgba(32, 188, 0, 0.76);
}

.border_rune3, .border_rune13{
  border-color: rgba(0, 160, 188, 0.76);
}
.border_rune4, .border_rune14{
  border-color: rgba(125, 0, 188, 0.76);
}
.border_rune5, .border_rune15{
  border-color: rgba(188, 128, 0, 0.73);
}

.border_rune15, .border_rune14, .border_rune13, .border_rune12, .border_rune11{
  box-shadow: 0px 0px 5px 2px #888;
}

.filter{
  display: flex;
  width: 50%;
  min-width: 300px;
}

.filters{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select_filter{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.filter_name{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter_efficiency_couple{

  margin: 20px;
}

.filter_efficiency{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.filter_efficiency_name{

}


.basic-multi-select, .select{
  width: 80%;
}
.filter_sliders{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

select {
  background-color: #282c34;
  color: white;
  border: 1px solid #61dafb;
  border-radius: 4px;
  padding: 8px 12px;
  margin-left: 20px; /* Space from the left */
  font-size: 16px; /* Font size for readability */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Optional: Add hover and focus states for better interactivity */
select:hover, select:focus {
  outline: none;
}

button{
  all: unset;
  background-color: #282c34;
  color: white;
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-left: 20px;
}

input[type="file"] {
  background-color: #282c34;
  color: white;
  border: 1px solid #61dafb;
  border-radius: 4px;
  padding: 8px 12px;
  margin-left: 20px; /* Space from the left */
  font-size: 16px; /* Font size for readability */
  cursor: pointer; /* Change cursor to pointer on hover */
  display: inline-block; /* Ensure proper display and alignment */
  width: auto; /* Adjust width as needed */
  text-align: center; /* Center text */
}

/* Optional: Add hover and focus states for better interactivity */
input[type="file"]:hover,
input[type="file"]:focus {
  outline: none;
  border-color: #21a1f1; /* Slightly lighter border color on hover/focus */
  background-color: #2b323e; /* Slightly lighter background color on hover/focus */
}


.notgemmed,.gemmed{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.runes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.rune-title{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.rune-title img{
  margin-left: 8px;
}

.rune-main-substat{
  font-size: calc(8px + 1vh);
}

.rune-main-stat{
  font-size: calc(9px + 1vh);
}

.rune_substats span, .rune_substats div, .rune_efficiency span, .rune_efficiency div{
  font-size: calc(7px + 1vh);
}



.rune_substats{
  margin: 10px;
  box-shadow: 10px 0 5px -5px #272727;
}

